* {
    font-family: sans-serif;
}



#menuItemContainer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    flex-direction: inherit !important;
    top: 87% !important;
}

#mapInfoHolder {
    position: absolute !important;
    bottom: 14% !important;
    right: 20px !important;
    pointer-events: all !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
}


/*
this is the old menu


#chatHolder {
    position: absolute !important;
    z-index: 100000 !important;
    height: 358px!important;
    max-height: 1000px !important;
    width: 380px !important;
    left: 24px !important;
    top: 57% !important;
}

#chatList {
    position: absolute !important;
    width: 360px;
    margin: 0 auto !important;
    height: 41%;
    top: 14%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    border: 1px;
    pointer-events: all !important;
    display: list-item;
    padding-left: 10px;
    padding-right: 10px;	
}

.chatItem {
    word-wrap: break-word !important;
    margin-bottom: 32px !important;
    padding-left: 19px !important;
    padding-right: 0px !important;
    padding-bottom: 8px !important;
    padding-top: 10px !important;
    font-size: inherit !important;
    background-color: #00000066 !important;
    display: contents !important;
	border-radius: 0 !important;
}
.chatMsg {
    width: 136px;
}

#chatInput {
    width: 100% !important;
    top: 63%;
    position: relative !important;
    padding-left: 10px !important;
    color: #fff !important;
    font-size: 21px !important;
    box-sizing: border-box !important;
    border: none !important;
    background-color: rgba(0,0,0,.4) !important;
    pointer-events: all !important;
    font-size: 1px;
}
*/


 #uiBase.onMenu #chatHolder {
    left: 0%;
    height: 90%;
	
}

#chatHolder {
    position: absolute;
    z-index: 1000;
    width: 306px;
    left: 0%;
    height: 85%;
}

#chatList {
    background-color: #17171778;
    display: list-item;
    overflow-x: hidden;
    overflow-y: scroll;
	border: 1px;
    pointer-events: all;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 1px;
	pointer-events:all;
}

#chatInput {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(0, 0, 0, 0.44);
    pointer-events: all;
    display: flex;
    bottom: 200px;
	border-radius:0px;
	
}

.chatMsg {
    color: rgba(255,255,255,.7);
}

.chatItem {
    max-width: 280px;
    word-wrap: break-word;
    display: contents;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    color: #ff6868;
    font-size: 14px;
    background-color: rgba(31, 8, 8, 0);
} 







#voiceDisplay {
    opacity: .5 !important;
    z-index: 2 !important;
    position: absolute !important;
    bottom: 135px !important;
    left: 300px !important;
}
#aHolder {
    position: absolute !important;
    bottom: 65% !important;
    left: 0% !important;
    right: 3 !important;
    text-align: center !important;
    z-index: 0 !important;
    pointer-events: none !important;
}

#spectButton {
    left: 27% !important;
    top: 1% !important;
}

#uiBase.onMenu #claimHolder {
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 66%!important;
    top: 55%!important;
    pointer-events: all;
}

#merchHolder {
    top: 9% !important;
    left: 1% !important;
}

#topLeftHolder {
    text-align: left;
    position: absolute;
    z-index: 10;
    border-width: 0px;
    width: 250px;
    background-color: #17171778;
    height: 117px;
    top: 11px;
    left: 313px;
    padding-left: 14px;
    padding-right: 5px;
	padding-top: 11px;
    padding-bottom: 6px;
	pointer-events:all;
}

#timerDisplay {
border-radius:0px !important;
}

#uiBase.onMenu #merchHolder {
    display: block;
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 25%!important;
    top: 53%!important;
    pointer-events: all;
}
