* {
    font-family: sans-serif;
}



#menuItemContainer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    flex-direction: inherit !important;
    top: 87% !important;
}

#mapInfoHolder {
    position: absolute !important;
    bottom: 14% !important;
    right: 20px !important;
    pointer-events: all !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
}


#chatHolder {
    position: absolute !important;
    z-index: 1000 !important;
    height: 100px !important;
    width: 280px !important;
    overflow:scroll;
    left: 20px !important;
    top: 53% !important;
    border:1px;
}

#chatList {
    position: fixed !important;
    width: 350px !important;
}

#chatInput {
    width: 100% !important;
    padding: 5px !important;
    top: 245px !important;
    position: relative !important;
    padding-left: 10px !important;
    color: #fff !important;
    font-size: 18px !important;
    box-sizing: border-box !important;
    border: none !important;
    scroll-behavior: smooth !important;
    background-color: rgba(0,0,0,.4) !important;
    border-radius: 6px !important;
    pointer-events: all !important;
}

#voiceDisplay {
    opacity: .5 !important;
    z-index: 2 !important;
    position: absolute !important;
    bottom: 135px !important;
    left: 300px !important;
}
#aHolder {
    position: absolute !important;
    bottom: 75% !important;
    left: -8% !important;
    right: 0 !important;
    text-align: center !important;
    z-index: 0 !important;
    pointer-events: none !important;
}

#spectButton {
    left: 27% !important;
    top: 1% !important;
}

#claimHolder {
	top: 56% !important;
    left: 70% !important;
}	

#merchHolder {
    top: 9% !important;
    left: 1% !important;
}
