* {
    font-family: 'voidFont';
    color: #ff0000
}
@font-face {
    font-family: 'voidFont';
  src:  url('WebFont.woff2') format('woff2'),
     url('WebFont.woff') format('woff');
        
}
#ingameFPS {
color: #fff700 !important;
}
#subLogoButtons {
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events:all; 
}

#serverSearch,#settingSearch {
    float: right;
    width: 200px;
    text-align: right;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid rgba(41, 31, 31, 0.849);
    background-color: rgba(29, 24, 24, 0.705)
}
#pingDisplay {
    color: #ff0000 !important
}
#menuWindow {
    background-color: #000000 !important;
}
.inputGrey2 {
    background-color: #292929 !important;
}
.slider {
    background-color: #272727 !important;
}
input:checked+.slider {
    background-color: #5400cb !important;
}
.sliderM {
    background-color: #272727 !important;
}
.sliderVal {
    color: #6300b9;
    background-color: #252323 !important
}
.setHed {
    background-color: #000000 !important;
}
.settName, .settNameSmall {
color: #0036b7 !important;
}
.slider:before {
background-color: #4a4a4a !important
}

